h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    border: 10px;
    color: blue;
    margin: 15px;
}

p{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}